<div class="rr-form-container">
  <h3>Sign up to R&R</h3>
  <form onsubmit={{action "signUp"}}>
    <div class="rr-form-row">
      <label for="email">Email</label>
      {{input type="email" class="rr-input ml-auto" id="email" value=email}}
    </div>
    <div class="rr-form-row">
      <label for="password">Password</label>
      {{input type="password" class="rr-input ml-auto" id="password" value=password}}
    </div>
    <div class="rr-form-footer">
      <div class="rr-button-panel">
        <button type="submit" class="rr-action-button" data-test-rr="sign-up-button">Sign up</button>
      </div>
      <div class="rr-cta">
        <span class="mr1">Already have an account?</span>
         {{link-to 'Log in' 'login' class="underline" }}
      </div>
    </div>
  </form>
</div>
