<ul class="list pl3">
    {{#each model as |song|}}
        <li>
            {{capitalize song.title}} by <em>{{capitalize song.band}}</em>
            <span class="rr-rating fr">{{song.rating}}</span>
        </li>
    {{/each}}
</ul>
